@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.background {
    background-image: url("/images/bg1.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-position: bottom;
}

.navbar-nav {
    flex: 1;
}

.btn-warning {
    border-radius: 9px;
}

.head-text {
    font-weight: 900;
    font-size: 2.6rem;
    line-height: 1.5;
    
}

.download {
    border-radius: 9px;
}

.m-15 {
    margin-top: 15rem;
}

.about {
    background-color: #ffbb003f;
    color: #FFBB00;
}

.about-mobile {
    margin-left: -8em;
}

.bg-map {
    background-image: url("/images/map.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top; 
}

._size {
    height: auto;
    width: 70%;
}

._blue-bg1 {
    background-image: url("/images/bg3.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

textarea {
    resize: none;
}

._send-btn {
    padding: 0.5rem 5rem;
    border-radius: 9px;
}

._blue-bg2 {
    background-image: url("/images/bg2.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

._border {
    border: none;
}

.icon-border {
    padding: 1rem 1.1rem;
    border-radius: 7px;
    background-color: #ffffff1e;
} 

.navbar-light span.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    color: white;
}

.navbar-toggler{
    border: none !important;
}

.case-bg {
    background-image: url("/images/case1.png");
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
}

.owl-item > div {
    cursor: pointer;
    margin: 15% 8%;
    padding: 10px;
    transition: margin 0.4s ease;
}

.owl-item.center > div {
    cursor: auto;
    margin: 0;
    filter: brightness(96%);
}

._ec {
    max-width: 200px;
    height: auto;
}

.item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.owl-carousel .item.low img {
    opacity: .6;
}
  
/* MEDIA QUERIES */

@media (max-width: 1879px) {
    .dots { display: none; } 
}




